.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 34px auto 0 76px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 34px auto 60px 76px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}